body {
	background-image: url(images/camouflage%20copia.png);
}

.mainHead{
width:1000px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
background-color:#FFFFFF;
border:1px solid #685300;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;
behavior: url(ie-css3.htc);
}

.logo{
width:237px;
padding-top:10px;
padding-left:10px;
padding-right:10px;
float:left;
}
.banner1{
width:728px;
float:left;
/*border:1px solid #685300;*/
margin-top:10px;
}
.mainMenuBand{
margin-left:10px;
margin-top:-18px;
width:968px;
margin-right:10px;
background-color:#c5ac49;
text-align:left;
padding-left:20px;
color:#685300;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
padding:5px;
-moz-border-radius-topright: 5px;
-webkit-top-right-radius: 5px;
-o-border-top-right-radius: 5px;
-khtml-border-top-right-radius: 5px;
border-top-right-radius: 5px;
}
.bottomMenuBand{
margin-left:10px;
margin-top:-20px;
width:968px;
margin-right:10px;
background-color:#c5ac49;
text-align:left;
padding-left:20px;
color:#685300;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
padding:5px;
-moz-border-radius-bottomright: 5px;
-webkit-bottom-right-radius: 5px;
-o-border-bottom-right-radius: 5px;
-khtml-border-bottom-right-radius: 5px;
border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-bottom-left-radius: 5px;
-o-border-bottom-left-radius: 5px;
-khtml-border-bottom-left-radius: 5px;
border-bottom-left-radius: 5px;
}
.ithemsBand{
margin-left:-32px;
margin-top:-28px;
width:980px;
margin-right:10px;
background-color:#685300;
-moz-border-radius-topright: 5px;
-webkit-top-right-radius: 5px;
-o-border-top-right-radius: 5px;
-khtml-border-top-right-radius: 5px;
border-top-right-radius: 5px;
}

.ithemsBand li{
height:20px;
border:1px solid #685300;
border-bottom:hidden;
text-decoration:none;
color:white;
float:left;
margin-left:3px;
padding-left:5px;
padding-right:5px;
padding-top:5px;
background-color:#685300;
list-style:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
text-transform:uppercase;
font-weight:bold;
}
.ithemsBand li:hover{
background-color:#c5ac49;
color:#685300;
}
.ithemsBand li.mainMenuSelectedIthem{
background-color:#c5ac49;
color:#685300;
}
.mainMenu{
width:980px;
margin-right:10px;
margin-left:-32px;
}
.mainMenu li{
border:1px solid #685300;
border-bottom:hidden;
width:auto;
height:20px;
display:inline;
float:left;
text-decoration:none;
color:white;
background-color:#685300;
margin-left:3px;
margin-top:-18px;
padding-top:3px;
padding-left:5px;
padding-right:5px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:15px;
text-transform:uppercase;
font-weight:bold;
-moz-border-radius-topright: 5px;
-webkit-top-right-radius: 5px;
-o-border-top-right-radius: 5px;
-khtml-border-top-right-radius: 5px;
border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-webkit-top-left-radius: 5px;
-o-border-top-left-radius: 5px;
-khtml-border-top-left-radius: 5px;
border-top-left-radius: 5px;
/*behavior: url(ie-css3.htc);*/
}
.mainMenu li:hover{
background-color:#c5ac49;
color:#685300;
}
.mainMenu li.mainMenuSelectedIthem{
background-color:#c5ac49;
color:#685300;
}
.mainField{
margin-left:10px;
margin-right:10px;
width:806px;
border:1px solid #685300;
float:left;
}
.banner2{
float:left;
width:160px;
/*border:1px solid #685300;*/
}
a{text-decoration: none;}

.addLogo{
width:85px;
margin-top:10px;
margin-left:10px;
float:left;
/*border:1px solid #685300;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
-khtml-border-radius: 5px;
behavior:url(ie-css3.htc);*/
}
.addingWelcomeText{
margin-left:110px;
margin-top:-50px;
float:left;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
}
.addingFields{
/*width:310px;*/
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:12px;
margin-top:10px;
/*margin-left:10px;*/
padding-top:10px;
margin-bottom:15px;
}
.aField{
margin-top:5px;
}
.addingLegend{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:14px;
color:black;
}
.addingMenu{
margin-bottom:130px;
}
.addingMenu li{
margin-top:20px;
float:left;
list-style:none;
margin-left:30px;
}
.redStar{
color:red;
}
.addFinalText{
margin-left:20px;
margin-right:20px;
margin-top:10px;
margin-bottom:10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
}
.footer{
width:980px;
margin-left:15px;
margin-top:-10px;
}
.footerLogoField{
text-align:justify;
/*margin-left:10px;*/
float:left;
margin-right:10px;
margin-bottom:10px;
width:100px;
border-right:1px solid #685300;
}
.footerMenu{
margin-left:200px;
}
.footerMenu li{
/*width:750px;*/
border-right:1px solid #685300;
text-align:right;
margin-left:10px;
padding-right:10px;
float:left;
list-style:none;
text-decoration:none;
display:inline;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#685300;
font-size:11px;
}

.firstTitle{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
margin-left:20px;
margin-right:20px;
margin-top:15px;
margin-bottom:10px;
font-weight:bold;
border-bottom:3px solid  #685300;
}
.secondTitle{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
text-align:left;
}
.mainAdField{
width:766px;
margin-top:10px;
margin-left:20px;
/*border:1px solid #685300;*/
}
.gallery{
width:366px;
float:left;
margin-left:-20px;
}
.gallery li{
float:left;
list-style:none;
margin-left:4px;
margin-top:3px;
}
.adText{
width:370px;
float:left;
margin-left:40px;
/*border:1px solid #685300;*/
}
.adBigPic{
width:360px;
height:270px;
border:1px solid #685300;
}
.adSmallPic{
width:67px;
height:50px;
border:1px solid #685300;
}
.descrHeaders{
width:370px;
float:left;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
margin-left:20px;
}
.descrHeaders li{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
/*margin-left:50px;*/
text-align:left;
list-style:none;
padding-top:10px;
}
/*.descrValues{
width:150px;
float:left;
}*/
.descrHeaders li span{
list-style:none;
text-align:left;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
padding-top:10px;
padding-left:30px;
font-weight:normal;
width:350px;
}
.contactField{
width:736px;
border-bottom:3px solid #685300;
margin-bottom:15px;
}
.contacts{
width:350px;
float:left;
}
.contactForm{
width:350px;
float:left;
}
.banner3{
width:300px;
height:250px;
/*border:1px solid #685300;*/
margin-left:20px;
}
.searchMenu{
	margin-top:40px;
	margin-left:15px;
	height:150px;
	float:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	/*border:1px solid #c5ac49;*/
}
.searchMenu ul{
	overflow:auto;
	height:150px;
	margin-top:0px;
	width:auto;
}
.searchMenu li{
	width:150px;
	list-style:none;
	margin-left:-40px;
	
}
.searchHeaders{
width:150px;
font-weight:bold;
background-color:#c5ac49;
padding:5px;
-moz-border-radius-topright: 5px;
-webkit-top-right-radius: 5px;
-o-border-top-right-radius: 5px;
-khtml-border-top-right-radius: 5px;
border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-webkit-top-left-radius: 5px;
-o-border-top-left-radius: 5px;
-khtml-border-top-left-radius: 5px;
border-top-left-radius: 5px;
}

.error_message {
	color: red;
}
}