body {
	background-image: url(images/test_camouflage.gif);
}

.mainHead{
width:1000px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
background-color:#FFFFFF;
border:1px solid #685300;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;
behavior: url(ie-css3.htc);
}

.logo{
width:237px;
padding-top:10px;
padding-left:10px;
padding-right:10px;
float:left;
}
.banner1{
width:728px;
float:left;
/*border:1px solid #685300;*/
margin-top:10px;
}
.mainMenuBand{
margin-left:10px;
margin-top:-18px;
width:968px;
margin-right:10px;
background-color:#c5ac49;
text-align:left;
padding-left:20px;
color:#685300;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
padding:5px;
-moz-border-radius-topright: 5px;
-webkit-top-right-radius: 5px;
-o-border-top-right-radius: 5px;
-khtml-border-top-right-radius: 5px;
border-top-right-radius: 5px;
}
.bottomMenuBand{
margin-left:10px;
margin-top:-20px;
width:968px;
margin-right:10px;
background-color:#c5ac49;
text-align:left;
padding-left:20px;
color:#685300;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
padding:5px;
-moz-border-radius-bottomright: 5px;
-webkit-bottom-right-radius: 5px;
-o-border-bottom-right-radius: 5px;
-khtml-border-bottom-right-radius: 5px;
border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-bottom-left-radius: 5px;
-o-border-bottom-left-radius: 5px;
-khtml-border-bottom-left-radius: 5px;
border-bottom-left-radius: 5px;
}
.ithemsBand{
margin-left:-32px;
margin-top:-27px;
width:980px;
margin-right:10px;
background-color:#685300;
-moz-border-radius-topright: 5px;
-webkit-top-right-radius: 5px;
-o-border-top-right-radius: 5px;
-khtml-border-top-right-radius: 5px;
border-top-right-radius: 5px;
}

.ithemsBand li{
height:20px;
border:1px solid #685300;
border-bottom:hidden;
text-decoration:none;
color:white;
float:left;
margin-left:2px;
margin-bottom:1px;
padding-left:5px;
padding-right:5px;
padding-top:5px;
background-color:#685300;
list-style:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
text-transform:uppercase;
font-weight:bold;
}
.ithemsBand li:hover{
background-color:#c5ac49;
color:#685300;
}
.ithemsBand li.mainMenuSelectedIthem{
background-color:#c5ac49;
color:#685300;
}
.mainMenu{
width:980px;
margin-right:10px;
margin-left:-32px;
}
.mainMenu li{
border:1px solid #685300;
border-bottom:hidden;
width:auto;
height:20px;
display:inline;
float:left;
text-decoration:none;
color:white;
background-color:#685300;
margin-left:2px;
margin-top:-18px;
padding-top:3px;
padding-left:5px;
padding-right:5px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:15px;
text-transform:uppercase;
font-weight:bold;
-moz-border-radius-topright: 5px;
-webkit-top-right-radius: 5px;
-o-border-top-right-radius: 5px;
-khtml-border-top-right-radius: 5px;
border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-webkit-top-left-radius: 5px;
-o-border-top-left-radius: 5px;
-khtml-border-top-left-radius: 5px;
border-top-left-radius: 5px;
/*behavior: url(ie-css3.htc);*/
}
.mainMenu li:hover{
background-color:#c5ac49;
color:#685300;
}
.mainMenu li.mainMenuSelectedIthem{
background-color:#c5ac49;
color:#685300;
}
.mainField{
margin-left:10px;
margin-right:10px;
width:806px;
border:1px solid #685300;
float:left;
}
.banner2{
float:left;
width:160px;
/*border:1px solid #685300;*/
}
a{
text-decoration: none;
}

.addLogo{
width:85px;
margin-top:10px;
margin-left:10px;
float:left;
/*border:1px solid #685300;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
-khtml-border-radius: 5px;
behavior:url(ie-css3.htc);*/
}
.addingWelcomeText{
width:650px;
margin-left:20px;
margin-top:10px;
float:left;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
}
.addingFields{
/*width:310px;*/
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:12px;
margin-top:10px;
/*margin-left:10px;*/
padding-top:10px;
margin-bottom:15px;
}
.aField{
margin-top:5px;
}
.addingLegend{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:14px;
color:black;
}
.addingMenu{
margin-left:-20px;
margin-bottom:130px;
}
.addingMenu li{
margin-top:20px;
float:left;
list-style:none;
margin-left:25px;
}
.redStar{
color:red;
}
.addFinalText{
margin-left:20px;
margin-right:20px;
margin-top:10px;
margin-bottom:10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
}
.footer{
width:980px;
margin-left:15px;
margin-top:-10px;
}
.footerLogoField{
text-align:justify;
/*margin-left:10px;*/
float:left;
margin-right:10px;
margin-bottom:10px;
width:100px;
border-right:1px solid #685300;
}
.footerMenu{
margin-left:200px;
}
.footerMenu li{
/*width:750px;*/
border-right:1px solid #685300;
text-align:right;
margin-left:10px;
padding-right:10px;
float:left;
list-style:none;
text-decoration:none;
display:inline;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#685300;
font-size:11px;
}

.firstTitle{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
margin-left:20px;
margin-right:20px;
margin-top:15px;
margin-bottom:10px;
font-weight:bold;
border-bottom:3px solid  #685300;
}
.secondTitle{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
text-align:left;
}
.mainAdField{
width:766px;
margin-top:10px;
margin-left:20px;
/*border:1px solid #685300;*/
}
.gallery{
width:366px;
float:left;
margin-left:-20px;
}
.gallery li{
float:left;
list-style:none;
margin-left:4px;
margin-top:3px;
}
.adText{
width:370px;
float:left;
margin-left:40px;
/*border:1px solid #685300;*/
}
.adBigPic{
width:360px;
height:270px;
border:1px solid #685300;
}
.adSmallPic{
width:67px;
height:50px;
border:1px solid #685300;
}
.descrHeaders{
width:370px;
float:left;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
margin-left:20px;
}
.descrHeaders li{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
/*margin-left:50px;*/
text-align:left;
list-style:none;
padding-top:10px;
}
/*.descrValues{
width:150px;
float:left;
}*/
.descrHeaders li span{
list-style:none;
text-align:left;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
padding-top:10px;
padding-left:30px;
font-weight:normal;
width:350px;
}
.contactField{
width:736px;
border-bottom:3px solid #685300;
margin-bottom:15px;
}
.contacts{
width:350px;
float:left;
}
.contactForm{
width:350px;
float:left;
}
.banner3{
width:300px;
height:250px;
/*border:1px solid #685300;*/
margin-left:20px;
}
.searchMenu{
	margin-top:40px;
	margin-left:20px;
	height:150px;
	float:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	/*border:1px solid #c5ac49;*/
}
.searchMenu ul{
	overflow:auto;
	height:150px;
	margin-top:0px;
	width:auto;
}
.searchMenu li{
margin-top:5px;
	width:150px;
	list-style:none;
	margin-left:-30px;
	
}
.searchHeaders{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
width:150px;
font-weight:bold;
background-color:#c5ac49;
padding:5px;
-moz-border-radius-topright: 5px;
-webkit-top-right-radius: 5px;
-o-border-top-right-radius: 5px;
-khtml-border-top-right-radius: 5px;
border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-webkit-top-left-radius: 5px;
-o-border-top-left-radius: 5px;
-khtml-border-top-left-radius: 5px;
border-top-left-radius: 5px;
}
.searchResultHeader{
width:750px;
margin-left:auto;
margin-right:auto;
padding-bottom:3px;
border-bottom:2px solid #685300;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
padding-left:15px;
}
.searchPagesField{
border-bottom:2px solid #685300;
margin-left:auto;
margin-right:auto;
width:750px;
padding-left:15px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
height:31px;
}
.searchPages{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
width:auto;
padding:5px;
border:1px solid #685300;
text-align:left;
float:left;
background-color:#c5ac49;
margin-top:2px;
}
.searchPagesR{
width:auto;
margin-right:15px;
float:right;
margin-top:-10px;
}
.searchPagesR li{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
float:left !important;
background-color:#685300;
text-align:right;
list-style:none;
border:1px solid #c5ac49;
width:auto;
padding:5px !important;
margin-left:3px;
color:white;
}
.searchPagesR li:hover{
	background-color:#c5ac49;
	border:1px solid #685300;
	color:black;
	
}
.searchPagesR li.selectedPage{
	background-color:#c5ac49;
	border:1px solid #685300;
	color:black;
	}
.adRow{
	width:750px;
	margin-left:auto;
	margin-right:auto;
	border-bottom:1px solid #c5ac49;
	padding-top:10px;
	/*padding-bottom:10px;*/
}
	.adRowPic{
		width:150px;
		margin-left:15px;
		border:1px solid #c5ac49;
		float:left;
	}
	.adRowTextField{
		margin-left:20px;
		width:480px;
		float:left;
	}
	.adRowLogo{
		width:50px;
		margin-left:15px;
		margin-right:15px;
		float:left;
		}
	.adHeadLine{
	width:400px;
	margin-left:auto;
	margin-right:auto;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:black;
	}
	.adPrice{
	color:red;
	font-weight:bolder;
	font-size:18px;
	margin-left:30px;
	}
	.adText{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	text-align:left;
	margin-top:20px;
	line-height:150%;
	}
	.adRowFooter{
	width:750px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	margin-top:-10px;
	padding-left:15px;
	padding-right:15px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	}
	.beginPageLeftField{
	margin-left:20px;
	margin-bottom:20px;
	width:300px;
	float:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:bold;
		
	}
	.simpleSearchField{
		border:1px solid #c5ac49;
		margin-bottom:20px;
	}
	.beginPageRightField{
		margin-left:40px;;
		margin-right:auto;
		width:410px;
		float:left;
		
	}
	.beginPageRows{
		margin-left:5px;
		margin-right:5px;
		margin-top:5px;
		
	}
	.beginPageBigPicture{
		width:150px;
		border:1px solid #c5ac49;
		float:left;
		text-align:left;
	}
	.beginPageBigAdText{
		font-family:Verdana, Geneva, sans-serif;
		font-size:16px;
	
	}
	.beginPageRows a{color:black;}
	.beginPageSmallAdText{
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
	}
	.error_message {
		color: red;
		font-weight:bold;
	}
	.select_category_list{
	margin-left:auto;
	margin-right:auto;
	
	}
	.select_category_list li{
	width:140px;
	height:130px;
	text-align:center;
	vertical-align:middle;
	/*padding:10px;*/
	border:1px solid #c5ac49;
	list-style:none;
	margin-left:20px;
	margin-top:20px;
	margin-bottom:30px;
	float:left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	behavior: url(ie-css3.htc);
	}
	.select_category_list li:hover{
	background-color:#d7ffda;
	}
	
	.submitButton{
	margin-top:10px;
	margin-bottom:20px;
	padding:5px;
	width:100px;
	background-color: #c5ac49;
	border:1px solid #685300;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	behavior: url(ie-css3.htc);
	}
	.dealerSelector{
	 width:350px;
	 margin-left:auto;
	 margin-right:auto;
	 margin-top:10px;
	 margin-bottom:10px;
	 /*border-bottom:1px solid #685300;*/
	 padding-bottom:5px;
	 font-family:Arial, Helvetica, sans-serif;
	 font-size:12px;
	 }
	 .dealerPages{
	 margin-top:0px;
	 padding:5px;
	 margin-bottom:20px;
	 }
	 .dealerPages li{
	 font-family:Verdana, Arial, Helvetica, sans-serif;
	 font-size:12px;
	 color:white;
	 list-style:none;
	 float:left;
	 padding:3px;
	 border:1px solid #c5ac49;
	 background-color:#685300;
	 margin-left:2px;
	 }
	 .dealerPages li:hover{
	 color:black;
	 background-color:#c5ac49;
	 border:1px solid #685300;
	 }
	 .dealerPages li.selected{
	  color:black;
	 background-color:#c5ac49;
	 border:1px solid #685300;
	 }
	 .dealerList{
	 margin-top:10px;
	 margin-bottom:10px;
	 width:400px;;
	 }
	 .dealerRow{
	 border-bottom:1px solid #685300;
	 padding-top:5px;
	 /*padding-bottom:5px;*/
	 }
	 .dealerLogo{
	 width:150px;
	 border:1px solid #685300;
	 text-align:left;
	 margin-left:5px;
	 float:left;
	 }
	 .dealerText{
	 width:180px;
	 text-align:right;
	 float:right;
	 }
	 .coloredLinks{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#685300;
	 }
	 .coloredLinks:hover{
	 text-decoration:underline !important;
	 color:#c5ac49;
	 }
	 .selectedLetter{
	 text-decoration:underline !important;
	 color:#c5ac49;
	 font-weight:bold;
	 }
	 .mainFieldDealer{
	 width:1000px;
	 border-top:1px solid #c5ac49;
	 margin-top:22px;
	 }
	 .leftFieldDealer{
	 float:left;
	 width:700px;
	 margin-left:10px;
	 }
	 .rightFieldDealer{
	 float:left;
	 width:250px;
	 margin-left:10px;
	 border-left:1px solid #685300;
	 }
	 .topFieldDealerBand{
	 background-color:#c5ac49;
	 width:705px;
	 border-bottom:3px solid #685300;
	 font-family:Verdana, Arial, Helvetica, sans-serif;
	 font-size:16px;
	 font-weight:bold;
	 text-align:center;
	 margin-bottom:20px;
	 padding-bottom:5px;
	 padding-top:5px;
	}
	.feedBackFormD{
	text-align:center;
	width:250px;
	margin-left:15px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	}